* {
    padding: 0%;
    margin: 0%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid black;
    background-color: #d8fa8a;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    border: #000000 1px solid;
    border-radius: 25px;
    background-color: #d8fa8a;
    padding: 15px;
    width: 80vw;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 10px auto;
}

label.label input[type="file"] {
    position: absolute;
    top: -1000px;
}

.label {
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px;
    background: #f4f4f4;
    display: inline-block;
    margin-top: 15px;
}

.label:hover {
    background: #5cbd95;
}

.label:active {
    background: #9fa1a0;
}

.label:invalid+span {
    color: #000000;
}

.label:valid+span {
    color: #ffffff;
}

.data-input{
    background-color: #f4f4f4;
    padding: 5px 10px;
    border: 1px #000000 solid;
    border-radius: 25px;
    width: 70vw;
}

.card-holder{
    padding: 15px;
    margin: 20px auto;
    border: #000000 solid 1px;
    border-radius: 25px;
    max-width: 94%;
    height: 80.5vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.card{
    border: #000000 1px solid;
    border-radius: 25px;
    width: 20vw;
    height: 50vh;
    background-color: #f4f4f4;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    width: 19vw;
    height: 30vh;
    background-color: #000000;    
    border-radius: 25px;
    margin: 5px;
}

.head{
    margin: 5px;
    font-size: 25px;
}

.desc{
    margin: 5px;
    overflow-y: auto;
}

.submit{
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    margin-top: 15px;
}

.submit:hover {
    background: #5cbd95;
}

.textlabel{
    margin: 5px;
    margin-left: 10px;
}

.dialog{
    padding: 40px;
    margin: auto;
}

.dialog-add{
    margin: auto;
    border: transparent 0px solid;
    background-color: transparent;
    width: 90vw;
}

.dialog-design{
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 25px;
}

.dialog_in{
    margin: 10px auto;
    padding: 10px;
    border-radius: 25px;
    width: 100%;
}

.dialog_btn{
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    width: 100%;
}

.blur{
    filter: blur(5px);
}

.btn{
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
}

.btn:hover {
    background: #5cbd95;
}

.btn:active {
    background: #9fa1a0;
}

.add{
    background-color: #f4f4f4;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
}

.add:hover {
    background: #5cbd95;
}

.add:active {
    background: #9fa1a0;
}

.show{
    display: block;
}

.hide{
    display: none;
}
